profiles {
    standard {
        process.executor = 'local'
    }
    farm {
        process.executor = 'lsf'
        process.queue = 'normal'
        process.memory = '2GB'
        
        // this is required by bsub on farm3: selected[mem] should = rusage[mem]
        // http://mediawiki.internal.sanger.ac.uk/wiki/index.php/Submitting_large_memory_jobs
        process.clusterOptions = { "-R \"select[mem>${task.memory.toMega()}]\"" }
        // https://www.nextflow.io/docs/latest/executor.html#lsf
        executor.perJobMemLimit = true
    }
    cloud {
        process.executor = 'k8s'
        process.container = 'quay.io/cellgeni/nf-workshop'
        docker.enabled = true
    }
}
